
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
}
.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  padding: 10px;
}
.card{
  height: 200px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  border-radius: 2px;
  cursor: pointer;
  background-color: rgba(186, 99, 205, 0.425);
}
.card img{
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.pagination{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
}

.pagination-button{
  cursor: pointer;
  background-color: grey;
  color: #fff;
  padding: 20px;
  border-radius: 50%;
}
.pagination-button.pagination_disable{
  opacity: 0;
}
.pagination-button.active{
  background-color: black;
}