body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 400px;
  background-color: #24232b;
  padding: 24px;
  border-radius: 5px;
}

.finalPassword{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finalPassword span{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

button{
  padding: 10px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  background-color: #2a8b8b;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.charLength{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.charLength span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.charLength input{
  margin-bottom: 10px;
  cursor: pointer;
}
label{
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}
.checkBoxes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 10px;
}
input[type='checkbox']{
  cursor: pointer;
}
.generateBtn{
  width: 100%;
}


@media (max-width:500px){
  .container{
    width: 100%;
  }
  .checkBoxes{
    grid-template-columns: 1fr;
  }
}
